* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: pink;
}

li {
    display: inline;
}

ul {
    float: right;
    font-size: 20px;
}

header {
    background-color: blueviolet;
    padding: 30px;
}

.title {
    font-size: 30px;
    Color: Green;
    font-weight: bold;
    margin-top: 10px;

}

figcaption { 
    color: green;
    margin-bottom: 10px;
    font-weight: 8px;
}

form {
    display: block;
    background-color: brown;
    padding: 50px;
}

div {
    border: 10px double green;
}

img {
    margin: 20px auto;

}
form p {
    margin: 3px;
}
button {
     margin-top: 10px;
}

footer {
    background-color: blueviolet;
    padding: 20px;
}